{% extends "base.html" %}

{% load custom_filters %}
{% load static %}


{% block title %} Home {% endblock %}

{% block content %}

<section class="w-full p-5 md:p-10 h-screen overflow-y-scroll bg-slate-900 flex flex-wrap items-center justify-center gap-5">
    {% if data %}
        {% for d in data %}
            <form method="post" action="{% url 'paymentSystemApp:checkout_session' %}" class="card bg-base-100 image-full w-full md:w-96 shadow-xl">
                {% csrf_token %}
                <figure>
                    <img
                      src="{{ d.images.0|strip_quotes }}"
                      alt="{{ d.title }}" class="w-full md:w-96 h-full" />
                  </figure>
                <div class="card-body">
                    <h2 class="card-title line-clamp-1">{{ d.title }}</h2>
                    <p class="line-clamp-1">{{ d.description }}</p>
                    <div class="w-full flex flex-row justify-center items-center">
                      <div class="text-xl">{{ d.price }}</div>
                      <button type="submit" class="btn btn-primary ml-2 btn-md">Buy Now</button>
                    </div>
                  </div>
                <input type="text" value="{{ d.id }}" name="cat_id" hidden>
                <input type="text" value="{{ d.title }}" name="name" hidden>
                <input type="text" value="{{ d.description }}" name="origin" hidden>
                <input type="text" value="{{ d.price }}" name="price" hidden>
                <input type="text" value="{{ d.images.0|strip_quotes }}" name="image_link" hidden>
            </form>
        {% endfor %}
    {% else %}
        <p class="text-white text-2xl">No record found</p>
    {% endif %}
</section>
{% endblock %}

{% block scripts %}

{% endblock %}



